select,
input[type=checkbox] {
  -webkit-appearance: none;
}

input[type=date], input[type=datetime-local] {
  width: calc(100vw - 45px);
  height: calc(1rem + 20px);
  display: flex;
  align-items: center;
}